extends layout

block content
  .inner
    h1= title
    .map
      .autocomplete
        input.autocomplete__input(type="text" placeholder="Search for location" name="geolocate")
      #map
        p Loading Map...
